@import url('https://fonts.googleapis.com/css2?family=Goldman&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    list-style: none;
    text-decoration: none;
    font-family: 'Goldman', cursive;
}

:root {
    --main-font-transform: uppercase;
    --main-border-color: #CF1322;
    --main-red-color: #CF1322;
    --main-light-font: 400;
    --main-bold-font: 700;
    --main-white-color: #FFFFFF;
    --main-normal-style: normal;
    --main-shadow-font: 0px 4px 4px rgba(0, 0, 0, 0.25);
    --main-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

html {
    font-size: 62.5%;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: none;
}

.animate__animated.animate__delay-1s {
    -webkit-animation-delay: .1s;
    animation-delay: .1s;
}

.animate__animated.animate__delay-2s {
    -webkit-animation-delay: .2s;
    animation-delay: .2s;
}

.animate__animated.animate__delay-3s {
    -webkit-animation-delay: .3s;
    animation-delay: .3s;
}

.animate__animated.animate__delay-4s {
    -webkit-animation-delay: .4s;
    animation-delay: .4s;
}

.animate__animated.animate__delay-5s {
    -webkit-animation-delay: .5s;
    animation-delay: .5s;
}

.animate__animated.animate__delay-6s {
    -webkit-animation-delay: .6s;
    animation-delay: .6s;
}

.animate__animated.animate__delay-7s {
    -webkit-animation-delay: .7s;
    animation-delay: .7s;
}

.animate__animated.animate__delay-8s {
    -webkit-animation-delay: .8s;
    animation-delay: .8s;
}

.animate__animated.animate__delay-9s {
    -webkit-animation-delay: .9s;
    animation-delay: .9s;
}

.animate__animated.animate__delay-10s {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.animate__animated.animate__delay-11s {
    -webkit-animation-delay: 1.1s;
    animation-delay: 1.1s;
}

.animate__animated.animate__delay-12s {
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;
}

.animate__animated.animate__delay-13s {
    -webkit-animation-delay: 1.3s;
    animation-delay: 1.4s;
}

.animate__animated.animate__delay-14s {
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
}

.animate__animated.animate__delay-15s {
    -webkit-animation-delay: 1.6s;
    animation-delay: 1.6s;
}

.animate__animated.animate__delay-16s {
    -webkit-animation-delay: 1.7s;
    animation-delay: 1.7s;
}

.animate__animated.animate__delay-17s {
    -webkit-animation-delay: 1.8s;
    animation-delay: 1.8s;
}

.animate__animated.animate__delay-18s {
    -webkit-animation-delay: 1.9s;
    animation-delay: 1.9s;
}

.animate__animated.animate__delay-19s {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}

.animate__animated.animate__delay-20s {
    -webkit-animation-delay: 2.1s;
    animation-delay: 2.1s;
}

.animate__animated.animate__delay-21s {
    -webkit-animation-delay: 2.2s;
    animation-delay: 2.2s;
}

.animate__animated.animate__delay-22s {
    -webkit-animation-delay: 2.3s;
    animation-delay: 2.3s;
}

.animate__animated.animate__delay-23s {
    -webkit-animation-delay: 2.4s;
    animation-delay: 2.4s;
}

.animate__animated.animate__delay-24s {
    -webkit-animation-delay: 2.5s;
    animation-delay: 2.5s;
}

.animate__animated.animate__delay-26s {
    -webkit-animation-delay: 2.7s;
    animation-delay: 2.7s;
}

.animate__animated.animate__delay-28s {
    -webkit-animation-delay: 2.9s;
    animation-delay: 2.9s;
}

.animate__animated.animate__delay-30s {
    -webkit-animation-delay: 3.1s;
    animation-delay: 3.1s;
}

.animate__animated.animate__delay-32s {
    -webkit-animation-delay: 3.3s;
    animation-delay: 3.3s;
}

.animate__animated.animate__delay-34s {
    -webkit-animation-delay: 3.5s;
    animation-delay: 3.5s;
}

.animate__animated.animate__delay-36s {
    -webkit-animation-delay: 3.7s;
    animation-delay: 3.7s;
}

.animate__animated.animate__delay-38s {
    -webkit-animation-delay: 3.9s;
    animation-delay: 3.9s;
}

.animate__animated.animate__delay-40s {
    -webkit-animation-delay: 4.1s;
    animation-delay: 4.1s;
}

.animate__animated.animate__delay-41s {
    -webkit-animation-delay: 4.3s;
    animation-delay: 4.3s;
}

.animate__animated.animate__delay-42s {
    -webkit-animation-delay: 4.5s;
    animation-delay: 4.5s;
}

/*  */
.animate__animated.animate__delay-43s {
    -webkit-animation-delay: 4.6s;
    animation-delay: 4.6s;
}

.animate__animated.animate__delay-44s {
    -webkit-animation-delay: 4.7s;
    animation-delay: 4.7s;
}

.animate__animated.animate__delay-45s {
    -webkit-animation-delay: 4.8s;
    animation-delay: 4.8s;
}

.animate__animated.animate__delay-46s {
    -webkit-animation-delay: 4.9s;
    animation-delay: 4.9s;
}

#bz-container {
    position: relative;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: url("./img/bg.png") center center no-repeat;
    background-size: 100% 100%;
}

.bz-menu-title-wrapper {
    position: absolute;
    top: 0;
    left: 3.1%;
    width: 30%;
    left: 0%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.bz-menu-title-wrapper .bz-menu-header .left-bar {
    position: absolute;
    top: 3.15%;
    left: 3.1%;
    width: 1%;
    height: 3vh;
    background: rgba(207, 19, 34, 0.88);
    box-shadow: 0vh  10% 10% rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: .1vw;
}

.bz-menu-header .left-title {
    position: absolute;
    top: 2.5%;
    left: 6.9%;
    font-size: 3.5vh;
    font-weight: var(--main-bold-font);
    font-style: var(--main-normal-style);
    text-transform: var(--main-font-transform);
    text-shadow: var(--main-shadow-font);
    color: var(--main-white-color);
}

.bz-exit-tutorial {
    position: absolute;
    z-index: 999999;
    width: 20vw;
    height: 5vh;
    top: 4.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(90deg, rgba(14, 0, 3, 0) 3.24%, rgba(0, 0, 0, 0) 3.25%, rgba(117, 0, 10, 0.788) 52.43%, rgba(0, 0, 0, 0) 100%);
    border-radius: .1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5vw;
    animation: showIn 1.5s cubic-bezier(0.445, 0.05, 0.55, 0.95) none;
}

.bz-exit-tutorial p {
    font-size: 1vh;
    color: var(--main-white-color);
    text-transform: var(--main-font-transform);
    font-weight: var(--main-light-font);
    font-style: var(--main-normal-style);
}

.bz-exit-tutorial .exit-button {
    font-size: 1.2vh;
    text-transform: var(--main-font-transform);
    font-weight: var(--main-light-font);
    font-style: var(--main-normal-style);
    color: var(--main-white-color);
    padding: 1.5% 1.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--main-red-color);
    border-radius: .2vw;
}

.return__back {
    position: absolute;
    top: 3%;
    left: 2.25%;
    z-index: 999999;
    font-size: 2.5vh;
    color: var(--main-white-color);
    text-transform: var(--main-font-transform);
    font-weight: var(--main-bold-font);
    cursor: pointer;
    transition: .25s ease;
}

.return__back:hover {
    color: var(--main-red-color);
}

.bz-select-menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 61.5vw;
    height: 40vh;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2.1vw;
}

.select-item {
    padding-top: 2.1vh;
    width: 10.6vw;
    height: 19vh;
    background: rgba(255, 255, 255, 0.08);
    border-radius: .25vw;
    border: .1vw solid #FFFFFF66;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    transition: .25s ease;
}

.select-item:hover {
    background: rgba(255, 255, 255, 0.4);
}

.select-item:hover::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 3%, rgba(255, 255, 255, 0.3) 3%, rgba(255, 255, 255, 0.3) 10%, rgba(0, 0, 0, 0) 11%, rgba(0, 0, 0, 0) 19%, rgba(255, 255, 255, 0.3) 15%, rgba(255, 255, 255, 0.3) 35%, rgba(0, 0, 0, 0) 20%);
    top: 0;
    left: 0;
    z-index: 111;
    filter: blur(.6vw);
    transform: skewX(30deg);
    transition: all ease 0.3s;
    animation: move 2.5s infinite;
}

.select-item img {
    height: 8.8vh;
}

.select-item .select-item-content {
    width: 60%;
    color: var(--main-white-color);
    font-size: 1.4vh;
    text-transform: var(--main-font-transform);
    font-style: var(--main-normal-style);
    font-weight: var(--main-bold-font);
}

#bz-container-1 {
    position: relative;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: url("./img/bg1.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.bz-ask-menu {
    width: 46.8vw;
    height: 63vh;
    position: absolute;
    top: 55.65%;
    left: 38.5%;
    transform: translate(-50%, -50%);
}

.scroll-content {
    display: flex !important;
    flex-direction: column !important;
    gap: 1vh !important;    
}

.scrollbar-track {
    width: .25vw !important;
    background: rgba(255, 255, 255, 0.16) !important;
}

.scrollbar-thumb {
    background: #cfcfcf !important;
    box-shadow: 0 0 .3vw 0 #cfcfcf;
    border-radius: .05vw !important;
}

.accordion__item__header {
    width: 98%;
    height: 6.1vh;
    background: rgba(0, 0, 0, 0.64);
    border-top-left-radius: .25vw;
    border-top-right-radius: .25vw;
    border-bottom-left-radius: .25vw;
    border-bottom-right-radius: .25vw;
    position: relative;
    font-size: 1.6vh;
    color: var(--main-white-color);
    font-style: var(--main-normal-style);
    font-weight: var(--main-light-font);
    text-transform: var(--main-font-transform);
    cursor: pointer;
    padding: 2.1vh 1.55vw;
}

.accordion__item__header::before {
    height:.85vh;
    width: .5vw;
    content: "";
    position:absolute;
    right: 1.6vw;
    top: 2.4vh;
    transition: all .35s;
    transform: rotate(45deg);
    border-right: .15vw solid var(--main-white-color);
    border-bottom: .15vw solid var(--main-white-color);
}

.accordion__item__header.active {
    background: linear-gradient(0deg, #220003, #220003),
    linear-gradient(0deg, #CF1322, #CF1322);    
    border-left: .1vw solid var(--main-border-color);
    border-right: .1vw solid var(--main-border-color);
    border-top: .1vw solid var(--main-border-color);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    color:#fff;
    transition: .35s;
}

.accordion__item__header.active::before {
    transform:rotate(-135deg);
    top: 2.9vh;
}

.accordion__item__content {
    overflow-y: hidden;
    padding: 0;
    display: none;
    width: 98%;
    height: 6.1vh;
    background: rgba(0, 0, 0, 0.64);
    padding: 0 1.55vw;
    text-align: left;
    line-height: 1.8vh;
}

.accordion__item__content p {
    margin-top: 1.2vh;
    width: 70%;
    font-family: 'Montserrat', sans-serif;
    color: #868686;
    font-weight: 500;
    font-size: 1.2vh;
    padding: 0 -5vw;
}

.accordion__item__content.active {
    background: linear-gradient(0deg, #220003, #220003),
    linear-gradient(0deg, #CF1322, #CF1322);    
    border-left: .1vw solid var(--main-border-color);
    border-right: .1vw solid var(--main-border-color);
    border-bottom: .1vw solid var(--main-border-color);
    border-bottom-left-radius: .25vw;
    border-bottom-right-radius: .25vw;
}

.menu-header--title {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    zoom: .95;
}

.menu-header--title .menu-header--content {
    margin-top: 10.25vh;
    font-size: 3vh;
    color: var(--main-white-color);
    text-transform: var(--main-font-transform);
    font-weight: var(--main-bold-font);
    margin-bottom: 1.6vh;
    text-align: center;
}

.menu-header--subcontent {
    font-size: 1.4vh;
    color: var(--main-white-color);
    font-weight: 500;
    line-height: 2.4vh;
    font-family: 'Montserrat', sans-serif;
    width: 25%;
    text-align: center;
}

@keyframes showIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes move {
    from {
        left: -5vw;
    }
    to {
        left: 20vw;
    }
}